*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.color{
    background-color: black;
}
img {
    width: 100%;
}
.main-menu {
    padding: 20px 0;
    margin-top: -3px;
}

.main-menu .logo {
    flex-basis: 15%;
}

.main-menu .logo img {
    width: 100px;
}

.main-menu .main-nav {
    flex-basis: 55%;
}

.main-menu .main-nav li a {
    color: white;
    text-decoration: none;
}

.main-menu .main-nav li .active {
    color: #FB2E86;
}
section.main-menu.sec {
        margin-top: -20px;
    height: 260px;
    box-shadow: 0px 20px 38px 0px rgb(255 247 247 / 75%);
    -webkit-box-shadow: 0px 20px 38px 0px rgb(255 247 247 / 75%);
    -moz-box-shadow: 0px 20px 38px 0px rgba(255,247,247,0.75);
    border-radius: 10px;
    width: 1000px;
    margin-left: 10px;
}
.main-menu .search {
    flex-basis: 30%;
}

.search-btn {
    background: #FB2E86;
    padding: 8px 14px;
    border: none;
}

.search .form-area {
    display: flex;
}

.search .form-area input {
    border: 2px solid #E7E6EF;
    padding: 8px 10px;
    width: 100%;
}

.search .form-area input:focus {
    border: 2px solid #E7E6EF;
    outline: none;
}

.search-btn i {
    color: #fff;
}
.second-option .borr{
    gap: 10px;
}
.second-option {
    display: flex;
    justify-content: space-around;
    }
    .margin{
        margin-top: 42px;
        background: grey;
        height: 100px;
        border-radius: 0 0 10px 10px;
    }
    ul.main-nav.d-flex.d-flex.justify-content-between.align-items-center {
    margin-top: 34px;
}
.bla{
    background: black;
}
.about .watch{
background: grey;
border-radius: 10px;
}

section.about {
    margin-top: 145px;
}
.text {
   padding: 10px 108px 1px 16px;
}
.update {
    margin-top: 15px;
}
.update span{
    color: white;
    font-weight: bold;
}
.leviathen {
    padding: 48px;
}
.head{
    margin-top: 10px;
}
.box {
    width: 800px;
    background: #00000073;
    margin-left: 50px;
    border: 1px solid;
    border-radius: 3px;
}
.head {
    margin-top: 36px;
    border-bottom: 1px solid darkgray;
}
.ransome {
    margin-top: 42px;
    border-bottom: 1px solid lightblue;
}
.for{
    float: left;
    background: 0 0;
    background-image: url(../image/star.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 57px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    vertical-align: middle;
    padding: 2px 0 0;
    font-size: 15px;
    color: #222;
}
.meta{
    padding: 0px;
}
.forever {
    margin-top: 10px;
}
.title {
    margin-top: 26px;
}
.series-info {
    margin-top: 31px;
    margin-left: 18px;
}
.px{
    color: black;
}
.long{
   padding: 10px 15px 10px 35px;
}
.screen{
    margin-left: 10px;
}
.scr-pri{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: 25px;
}
.do-this-again {
    margin-top: 25px;
    border-bottom: 1px solid green;
}
.why-again {
    margin-top: 20px;
}
.why-again p{
    color: red;
    font-weight: 500;
    font-size: 30px;
}
.if-you a {
    background: green;
    width: 226px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px 0px 0px 0px;
    text-decoration: none;
    color:#62ff00;
    font-weight: 100;
    font-size: 18px;
    transition: all .3s linear;
}
.if-you a:hover{
background: white;
color: black;
}
.long strong{
    text-decoration: underline;
}
.can{
    margin-top: 75px;
    padding-bottom: 30px;
}
.unknown a{
    text-decoration: none;
    background: orange;
    width: 191px;
    border: 1px solid black;
    border-radius: 16px;
transition: all .3s ease;
color: #1b00ff;
}
.unknown a:hover{
color: black;
background: red;
}
.if-you {
    padding: 50px;
    border-bottom: 1px solid;
    margin-top: -21px;
}
.arthur {
    padding-bottom: 20px;
    padding-top: 20px;
}
.bifrost{
    background: darkgray;
    margin-top: 10px;
}
.arthur a{
    text-decoration: none;
    color: blue;
}
.grii{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.boo{
    border-right:1px solid black;
    padding: 9px 24px;
}
.gap{
    margin-bottom: 10px;
}